###########################
######## folder ###########
###########################
/Library/
/ProjectSettings/
/obj/
/Temp/

###########################
######## file #############
###########################
*.apk
*.pidb
*.sln
*.suo
*.userprefs
*.csproj
*.booproj
*.unityproj

###########################
####### script ############
###########################